/* .tv9-interactives * {
  padding: 0;
  margin: 0;
} */

h2,
h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

section {
  margin: 200px 0px;
  box-sizing: border-box;
}

.boxwrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Cover Content  */
.cover {
  text-align: center;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 50px 0 0 0;
}
.cover h1 {
  font-size: 2.6rem;
  line-height: 3rem;
}
.cover p {
  font-size: 20px;
  line-height: 24px;
}

.cover h1,
.cover p {
  margin: 0 auto 30px auto;
  width: 91%;
}
.cover img {
  position: absolute;
  bottom: 0;
}

.president-imgs {
  width: 100%;
  height: 194px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  width: 91%;
  margin: 0 auto 20px auto;
}

.sub-lead {
  text-align: center;
  width: 90%;
  margin: 0 auto 20px auto;
}

/* Criteria */

.critieria__img {
  position: relative;
  height: 435px;
  width: 95%;
  margin: 0 auto;
  max-width: 400px;
}
.critieria__img .sizelg {
  width: 60%;
  margin: 0 auto 0 auto;
}
.critieria__img .sizexl {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
  opacity: 0.2;
  margin-top: -35px;
}
.critieria__img .sizexl img {
  width: 50%;
}

.critieria__points {
  position: relative;
  background-color: #f1c40f;
  border-radius: 50px;
  height: 70px;
  line-height: 24px;
  width: 90%;
  max-width: 400px;
  margin: -130px auto 0 auto;
  display: flex;
  column-gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.critieria__points p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 24px;
  font-size: 22px;
  font-weight: 600;
  width: 80%;
}

/* Electors Section */

.electors {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.electors-who {
  display: flex;
  column-gap: 20px;
  text-align: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto 20px auto;
  max-width: 520px;
}

.rajyasabha {
  border: 1px solid #f00;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 85%;
  margin: 0 auto 20px auto;
  text-align: center;
}
.rajyasabha h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.rajyasabha ul {
  display: flex;
  column-gap: 15px;
}
.rajyasabha ul li span {
  font-size: 24px;
  margin-top: 5px;
  display: block;
  font-weight: bold;
}

.total-value {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.total-value p {
  font-size: 22px;
}

#totValueMP {
  color: #e64d3b;
  font-size: 60px;
}

.mp-formula {
  width: 85%;
  margin: 20px auto 20px auto;
  text-align: center;
  /* background-color: #000; */
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  /* border-radius: 10px; */
}
.mp-formula h3 {
  background-color: #000;
  color: #fff;
  width: fit-content;
  text-align: center;
  margin: 0 auto 10px auto;
  font-size: 16px;
  padding: 2px 5px;
}
.mp-formula img {
  width: 80%;
  margin: 0 auto;
}

.mlavotevalue__content {
  width: 95%;
  margin: 0 auto;
  position: relative;
  max-width: 500px;
}
.mla-formula {
  position: absolute;
  bottom: 95px;
  width: 35%;
  text-align: center;
  right: 0;
}
.mla-formula h3 {
  font-size: 15px;
}

#totMLAValue {
  width: 50%;
  position: absolute;
  right: 20px;
  top: 41px;
  text-align: center;
}
#totMLAValue p {
  font-size: 16px;
  line-height: 18px;
}
#totMLAValue span {
  font-size: 36px;
  margin-top: 10px;
  color: red;
  display: block;
}

.ending {
  width: 60%;
  margin: 50px auto;
}

.indiamap {
  position: relative;
}

.d3-tipforline {
  width: 100%;
}

.tooltip__content {
  background-color: #fff;
  width: 100%;
  border: 1px solid #000;
  padding: 20px 24px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  max-width: 300px;
  border-radius: 20px;
}
.tooltip__content p {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 700;
}
.tooltip__content ul {
  display: flex;
  text-align: left;
  column-gap: 15px;
}
.tooltip__content ul li {
  line-height: 18px;
}
.tooltip__content ul li:nth-child(1) {
  width: 20%;
}
.tooltip__content ul li:nth-child(2) {
  width: 25%;
}
.tooltip__content ul li:nth-child(3) {
  width: 30%;
}
.tooltip__content ul li span {
  display: block;
  color: #f00;
  font-weight: 600;
  font-size: 26px;
  margin-top: 10px;
}

.votingprocess-pt2 p {
  text-align: center;
  width: 90%;
  margin: 0 auto 20px auto;
}

.ballotbox-animations,
.candidate-selection {
  text-align: center;
}
.ballotbox-animations svg,
.candidate-selection svg {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.votingprocess-pt1-2 {
  text-align: center;
  width: 90%;
  margin: 200px auto;
}

.ending {
  text-align: center;
  display: flex;
  justify-content: center;
}

#mapIndia,
#tooltip {
  transition: all 0.5s;
}

#closeBtn {
  width: 40px;
  height: 40px;
  font-size: 26px;
  border-radius: 50%;
  outline: 0;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 2000;
}

#dropdownState {
  position: absolute;
  top: 5px;
  right: 52px;
}
@media (max-width: 600px) {
  .cover img:first-child {
    width: 35%;
    left: -42px;
  }
  .cover img:nth-child(2) {
    width: 64%;
    left: 8%;
    bottom: -46px;
  }
  .cover img:nth-child(3) {
    width: 60%;
    left: 36%;
    bottom: -38px;
  }
  .cover img:nth-child(4) {
    width: 45%;
    left: 68%;
    bottom: -50px;
  }
  #tooltip.tooltip__content {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .cover h1,
  .cover p {
    margin: 0 auto 30px auto;
    width: 50%;
  }
  .president-imgs {
    width: 100%;
    height: 606px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  .cover img:first-child {
    width: 22%;
    left: 0;
  }
  .cover img:nth-child(2) {
    width: 41%;
    left: 17%;
    bottom: -120px;
  }
  .cover img:nth-child(3) {
    width: 41%;
    left: 41%;
    bottom: -120px;
  }
  .cover img:nth-child(4) {
    width: 28%;
    left: 74%;
    bottom: -75px;
  }
  .datasection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
  }

  .mp-formula img {
    width: 50%;
    margin: 0 auto;
  }
  section {
    margin: 500px 0px;
  }
}
